.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}
.popup {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px; 
  z-index: 1001;
}

button {
  background-color: #d1d1d1;
  color: #333;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b1b1b1;
}

@media (min-width: 600px) {
  .popup {
    width: 80%; 
  }
}

input {
  width: 95%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #dcdcdc; 
  border-radius: 4px; 
  background-color: #f0f0f0; 
  font-size: 16px; 
}

input:focus {
  outline: none;
  border-color: #a3a3a3; 
  box-shadow: 0 0 5px rgba(0, 163, 255, 0.5); 
}


h2 {
  color: #555;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}
